
.topnav {
    background-color: pink;
    overflow: hidden;
}

h1 {
   color: maroon;
   text-align: center;
}
.cursive {
    font-family: cursive
}

.capitalize {
    text-transform: capitalize;
}

h3 {
    text-align: center;
}

body {
    background-color:#5F9EA0;
    
}

#date {
    text-align: center;
}

#name {
    color: red;
}