
.topnav {
    background-color: pink;
    overflow: hidden;
}

.cursive {
    font-family: cursive
}

.capitalize {
    text-transform: capitalize;
}

.fonty {
    font-size: 2.2em;
}

.abouty {
    border-bottom: 1px solid #0278AE;
    color: #212121;
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: justify;
    width: 70%;
    font-family: Georgia;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover  .overlay {
    opacity: 1;
}



h1 {
   color: maroon;
   text-align: center;
}

h3 {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: double;
}

body {
    background: linear-gradient(-45deg, #ffafbd , #ffc3a0);
    margin: 0;
    padding: 0;
    
}

#date{
    box-sizing: border-box;
    width: 100px;
    height: 60px;
    padding: 10px;  
    border: 5px solid black;
    text-align: left;
}

#name {
    color: red;
}

#txt {
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    padding: 10px;  
    border: 5px solid black;
    text-align: right;
      }