


.cursive {
    font-family: cursive
}

.capitalize {
    text-transform: capitalize;
}

.fonty {
    font-size: 2.2em;
}

.abouty {
    border-bottom: 1px solid #0278AE;
    color: #212121;
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: justify;
    width: 70%;
    font-family: Georgia;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover  .overlay {
    opacity: 1;
}





h1 {
   color: maroon;
   text-align: center;
}

h3 {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: double;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
    
}

body {
    height: 125vh;
    background-image: url('https://cdn.hipwallpaper.com/i/69/0/IVT9kU.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
    
}

.center {
    display: block;
    margin-left: left;
    margin-right: auto;
  }

  .column {
    float: left;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .headings {
      text-align: left;
  }

#date{
    box-sizing: border-box;
    width: 95px;
    height: 60px;
    padding: 10px;  
    border: 5px solid black;
    text-align: left;
}

#name {
    color: red;
}

#txt {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    padding: 10px;  
    border: 5px solid black;
    text-align: right;
      }

#cuisine {
    text-align: center;
}